---
import ImoveisLayout from "../../layouts/ImoveisLayout.astro";
import { getCollection } from "astro:content";
import ImoveisWrapper from "../../components/React/ImoveisWrapper.jsx";

const imoveis = await getCollection("imoveis");
const categorias = Array.from(new Set(imoveis.map((i) => i.data.categoria).filter(Boolean)));

// Lê o filtro da URL
const url = new URL(Astro.request.url);
const categoriaSelecionada = url.searchParams.get("categoria") ?? "";
---

<ImoveisLayout imoveis={imoveis} title="Imóveis" description="Encontre seu novo lar!">
  <div class="container mx-auto px-4 py-12 md:px-20 pt-40">
    <ImoveisWrapper
      client:load
      imoveis={imoveis}
    />
  </div>
</ImoveisLayout>
