---
import Layout from "./Layout.astro";
import type { CollectionEntry } from "astro:content";
import ImoveisWrapper from "../components/React/ImoveisWrapper.jsx";

interface Props {
  imoveis: CollectionEntry<"imoveis">[];
  title: string;
  description: string;
}

const { imoveis, title, description } = Astro.props;
---
<Layout title={title} description={description}>
  <div class="container mx-auto px-4 py-12 pt-40">
    <!-- Renderiza o wrapper React de forma dinâmica -->
    <ImoveisWrapper client:load imoveis={imoveis} />
  </div>
</Layout>
